<p class="signup_newsletter_subscribe">
  <%= check_box :user, :subscribe_to_newsletter, :class => 'title', :checked=>'checked'  %> 
  <%= label :user, :subscribe_to_newsletter, t('newsletter.subscribe_to_our_newsletter') %>
</p>
